@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,600;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 110vh;
    background:rgb(110, 183, 238);
    font-family: 'poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header section where the img is played..*/
header {
    position: relative;
    width: 80%;
    height: 90%;
   /* border:1px solid #fff;*/
    border-radius:20px;
    overflow: hidden;
    box-shadow: 1px 5px 25px -10px #000;
}
/* background img change*/
header::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg')no-repeat center center/cover;
    opacity: .6;
    z-index: -1;
}

header::after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000);
    z-index: -1;
}
/* main video which played in backgorund*/
header video {
    position: absolute;
    width: 120%;
    height: 190%;
    top: -47%;
    z-index: -1;
}
/* the editing for menu bar is started from there..*/
header nav {
    width: 100%;
    height: 10%;
    /*border: 1px solid #ffff;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

header nav .logo_ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ......................................20.30.............*/
header nav .logo_ul img {
    width: 200px;

}
header nav .logo_ul ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav .logo_ul ul li{
    padding:3px 15px;
}
/* search area and link for shortcut for pages size editing*/
header nav .logo_ul ul li a{
    text-decoration: none;
    color: #ffff;
    font-weight:bold;
    font-size: 12px;
    transition: .3s linear;
}
header nav .logo_ul ul li a:hover {
    color:rgb(255,255,255, .7);
}

/* editing of search bar..*/
header nav .search_user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* input*/
header nav .search_user input {
    padding: 3px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: rgb(255,255,255, .3);
    color: #ffff;
    margin-right: 20px;

}
/*placeholder*/
header nav .search_user input ::placeholder {
      color: #ffff;
   }
  /* image  next to search bar*/
   header nav .search_user img {
    width: 23px;
    height: 23px;
    border-radius: 50%;
 }
/*search bar result box */
header nav .search_user .search {
    position: absolute;
    width: 320px;
    height: 270px;
   /* border: 1px solid #fff;*/
    right: 0;
    top: 40px;
    z-index: 99999;
    overflow-y: auto;
 }
/* editing scrollbar for search result book...............*/
header nav .search_user .search::-webkit-scrollbar{
    width: 5px;
    background: rgb(255,255,255, .3);
    border-radius: 5px;
    visibility: hidden;
} 
header nav .search_user .search::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(255,255,255, .4);
    border-radius: 5px;
    visibility: hidden;
}
header nav .search_user .search:hover::-webkit-scrollbar{
    visibility: visible;
}
header nav .search_user .search:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
/* search result box scrollbox editing ends there............*/
header nav .search_user .search .card {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px; /* padding may first wala 
                        up & down or 2 rd right or left*/
    text-decoration: none;
    display: none;
}

header nav .search_user .search .card::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,.1);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: -1;
 }
/* change img size of search result box is contened*/
 header nav .search_user .search .card img {
    width: 28px;
    height: 90%;
    border-radius: 2px;
    margin-left: 8px;
   }
/*search result size or color editing*/
   header nav .search_user .search .card .cont {
    margin-left: 10px;
    color: #fff;
   }
/* search result font editing*/
   header nav .search_user .search .card .cont h3 {
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
   }
/* editing in p tag of html line 40 */
header nav .search_user .search .card .cont p {
    font-size: 10px;
    color: rgb(255,255,255, .8);
}
/* editing i8n span section of html line 40 */
header nav .search_user .search .card .cont span {
    background: yellow;
    color: #000;
    padding: 0px 3px medium;
    margin: 0px 5px;
    font-weight: 500;
}
/*change in  content detail start from1 03 to 114 line in html .........*/
header .content {
    position: relative;
    color: #fff;
    margin-top: 50px;
    padding-left: 50px;
}
header .content h1 {
    font-size: 50px;
}
header .content p {
    font-size: 11px;
    width: 350px;
    word-break: break-all;
}
header .content .details {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
header .content .details h6 {
    color: rgb(255,255,255, .8);
    font-size: 10px;
    margin-right: 10px;
}
header .content .details h5 {
    color: rgb(142, 230, 48);
    font-size: 10px;
    margin:10px ;
}
header .content .details h4 {
    color:#fff;
    font-size: 10px;
    margin:10px ;
}
header .content .details h3 {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 10px;
   
}
header .content .details h3 span {
    background: yellow;
    color: #000;
    padding: 0px 3px medium;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
}
header .content .details h3 i {
    margin: 5px;

}
/*end of the change in  content detail start from1 03 to 114 line in html .........*/
header .content .btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
    }
    /* editing or button for watch and download*/
header .content .btns a {
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg, #00bdff, #0079ff);
    border-radius: 5px;
    color:#fff;
    margin-left: 10px;
    text-decoration: none;
    animation: button 1s linear infinite;
    
}
@keyframes button {
    0%{ background: linear-gradient(0deg, #00bdff, #0079ff);}
    12%{ background: linear-gradient(45deg, #00bdff, #0079ff);}
    24%{ background: linear-gradient(95deg, #00bdff, #0079ff);}
    36%{ background: linear-gradient(145deg, #00bdff, #0079ff);}
    48%{ background: linear-gradient(195deg, #00bdff, #0079ff);}
    60%{ background: linear-gradient(245deg, #00bdff, #0079ff);}
    72%{ background: linear-gradient(295deg, #00bdff, #0079ff);}
    100%{ background: linear-gradient(360deg, #00bdff, #0079ff);}
}
/* download or watch button is completed there....*/
/* editing the down section from popular to make box or resizing*/
header section {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    bottom: 20px;
    color: #fff;
}
/* first box for movies which is in x axis*/
header section .cards {
    position: relative;
    width: 100%;
    height: 200px;
    /*border: 1px solid #fff;*/
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
}
header section .cards::-webkit-scrollbar{
    display: none;
}
/* Second box for movies which is in y axis*/
header section .cards .card {
   /*border: 1px solid white;*/
    position: relative;
    min-width: 130px; 
    height: 180px;
    border-radius: 8px;
    margin-right: 10px;
    background: #000;
    transition: .3s linear;
}
/* second box size agestement or image */
header section .cards .card .poster{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
}
/* change image width*/
header section .cards .card:hover{
    min-width: 300px;
    overflow: hidden;
}
/* img ka size or after effect or transtion editing */
header section .cards .card .rest_card {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    z-index: 999999;
    opacity: 0;
    transition: 1s linear;
}
header section .cards .card .rest_card img {
    position: relative;
    height:100%;
    width: 100%;
    border-radius: 8px;
    z-index: -1;
}
header section .cards .card .rest_card::after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #000);
    left: 0;
    bottom: 0;
    z-index: -1;
}
/* ending of img ka size or after effect or transtion editing */
/* editing of name and cont of html line 134
and editing then cont section of popular*/
header section .cards .card .rest_card .cont {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    color: #fff;
    padding: 0px 20px;
}
/* editing the side of the cont section of sub on right side*/
header section .cards .card .rest_card .cont .sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header section .cards .card .rest_card .cont .sub p {
    font-size: 12px;
    font-weight: 400;
    color: rgb(255,255,255, .7);
}
header section .cards .card .rest_card .cont .sub h3 {
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
 }
 header section .cards .card .rest_card .cont .sub h3 span {
    background: yellow;
    color: #000;
    padding: 0px 5px 0px 10px;
    font-weight: 500;
    border-radius: 2px;
}
header section .cards .card .rest_card .cont .sub h3 i {
    margin: 3px;
}
header section .cards .card:hover .rest_card {
    opacity: 1;
}
/* editing the side of the cont section of sub on right side*/
/*editing the arrow for swiping of html line 120 , 121*/
header section .bi-chevron-left,
.bi-chevron-right {
    position: absolute;
    top: 50%;
    left: 3%;
    width: 25px;
    height: 25px;
    background: rgb(255,255,255, .3);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    transition: 1s linear;
    z-index: 999999999;
    opacity: 0;
}
/* changing the possition to right side of the arrow */
header section .bi-chevron-right {
    left: unset;
    right: 3%;
}
header section:hover .bi-chevron-right {
  opacity: 1;
}
header section:hover .bi-chevron-left {
  opacity: 1;
}
/* end of editing the arrow for swiping of html line 120 , 121*/

@media screen and (max-width: 1250px) {
  header video {
    position: absolute;
    width: 200%;
    height: 180%;
 }
}
 @media screen and (max-width: 788px) {
    header {
        width: 100%;
        height: 90%;
    }
    header nav {
        padding: 0px 10px;
        height: 15%;
    }
    header nav .logo_ul ul {
        position: absolute;
        top: 0px;
        left: 10px;
    }
    header nav .logo_ul ul li {
        padding: 3px 5px;
    }
    header nav .logo_ul ul li a {
        font-size: 10px;
    }
    header .content {
        padding-left : 10px;
    }
    header section {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 788px) {
    header video {
        position: absolute;
        width: 520%;
        height: 180%;
    }
    
}

 

    
